@media (min-width: 768px) {
    
    // Header START
    .header {
        height: 800px;

        .navbar {
            margin-top: 1rem;
            padding: 0;


            &-logo {
                width: 9.5rem;
                margin-left: 1rem;
            }

            .menu-layout {
                display: block;
                width: 40%;

                ul {
                    display: flex;
                    justify-content: space-evenly;
                    a {
                        color: $white;


                        &:hover {
                            background-color: $white;
                            color: black;
                            font-family: 'Fraunces', serif;
                            text-transform: uppercase;
                            border-radius: 30px;
                            padding: 1rem 1.2rem;
                        }

                        &:active {
                            font-family: 'Fraunces', serif;
                            text-transform: uppercase;
                            color: white;
                            background-color: $header-link-hover;
                        }
                    }
                }
            }

            .hamburger {
                display: none;
            }
        }

        // Layout
        .layout {
            margin-top: 2.9rem;

            .header-title {
               font-size: 3rem;
               letter-spacing: 0.6rem;
               margin-bottom: 5.2rem; 
            }
        }

        .image-header-desktop {
            display: block;
            width: 100%;
            height: 100%;
        }
        .image-header-mobile {
            display: none;
        }
    }
    // Header END

    // MAIN START
    main {

        // .OUR-WORK START
        .our-work {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas: 
            "transform-text egg"
            "stand-out-img stand-out-text"
            "graphic photography"
            ;

            .description {
                text-align: start;

                &-title {
                    width: 80%;
                    margin: 8.8rem 6rem 0;
                    font-size: 2.2rem;
                }

                &-text {
                    margin-top: 1.8rem;
                    width: 62%;
                    margin-left: 9rem; 
                }

                &-subtitle {
                    font-size: 16px;
                    margin: 2.5rem 9.7rem 0;
                }
            }

            .egg {
                background: url(../images/desktop/image-transform.jpg) no-repeat center/cover;
                height: auto;
                grid-area: egg;
            }

            .transform {
                grid-area: transform-text;

                .description-title {
                    width: 60%;
                    margin-left: 9rem;
                }
            }

            .stand-out {
                background: url(../images/desktop/image-stand-out.jpg) no-repeat center/cover;
                height: auto;
                grid-area: stand-out-img;
            }

            .stand-out-text {
                grid-area: stand-out-text;

                .description-text {
                    margin-left: 6rem;
                }

                .description-subtitle {
                    margin-left: 6.5rem;
                }
            }

            .design-text {
                width: 48%;
            }

            .graphic {
                background: url(../images/desktop/image-graphic-design.jpg) no-repeat center/cover;
                // grid-area: graphic;
            }

            .photography {
                background: url(../images/desktop/image-photography.jpg) no-repeat center/cover;
                
            }
        }
        // .OUR-WORK END

        // testimonials start
        .testimonials {

            &-title {
                margin-top: 9rem;
                font-size: 1.2rem;
            }

            .clients {
                display: flex;
                justify-content: center;
                gap: 1.1rem;
            }

            .client {
                width: 25%;
                margin-top: 4rem;

                &-comment {
                    margin: 3.2rem auto 4rem;
                    width: 98%;
                }

            }

            &-gallery {
                display: flex;
                margin-top: 9rem;

                .image-mobile {
                    display: none;
                }

                .image-desktop {
                    height: auto;
                    width: 25%;
                    display: block;
                }
            }

        }
        // testimonials end

    }
    // MAIN END

    // FOOTER START
    .footer {
        padding-bottom: 4rem;

        &-logo, .social-links {
            width: 12%;
        }

        &-logo {
            margin-top: 4rem;
        }

        &-links {
            width: 20%;
        }
    }
    // FOOTER END

}